{{>partial_header}}
package {{packageName}}

import (
	"fmt"
	"net/http"
	"strings"

	"github.com/gorilla/mux"
)

type Route struct {
	Name        string
	Method      string
	Pattern     string
	HandlerFunc http.HandlerFunc
}

type Routes []Route

type RouteBinder interface {
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
	{{operationId}}() http.HandlerFunc{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
}

func NewRouter(binder RouteBinder) *mux.Router {
	router := mux.NewRouter().StrictSlash(true)
	for _, route := range routes(binder) {
		var handler http.Handler
		handler = route.HandlerFunc
		handler = Logger(handler, route.Name)

		router.
			Methods(route.Method).
			Path(route.Pattern).
			Name(route.Name).
			Handler(handler)
	}

	return router
}

func routes(binder RouteBinder) Routes {
	return Routes{
		{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}

		{
			"{{operationId}}",
			strings.ToUpper("{{httpMethod}}"),
			"{{{basePathWithoutHost}}}{{{path}}}",
			binder.{{operationId}},
		},{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
	}
}
